.dropdown-notification {
    position: relative;
    display: inline-block;
}

.notifi-content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: #011B33;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    border-radius: 20px;
}

.notifi-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: transform .3s;
}

.notifi-content a:hover {
    transform: scale(1.01);
}

@media only screen and (max-width:900px) {
    .notifi-content {
        right: 0;
        left: 15px;
    }
}