body {
    background-color: #F5F6F7;
}


.app-content {
    margin-left: 255px;
    transition: margin-left 0.5s;
}

.title-section {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 2px solid #011B33;
}


@media only screen and (max-width:900px) {
    .app-content {
        margin-left: 0;
    }
}